* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: gray;
}

.proforma {
    padding: 4px 10px;
    background-color: white;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
}

.prof-container {
    padding: 0px 200px;
}

.prof-datos {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

#table-datos {
    text-align: left;
    padding-top: 10px;
    font-size: 11px;
    font-weight: normal;
}

#table-datos table,
#table-datos td {
    margin-left: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

img {
    width: 100px;
    height: auto;
}

h1 {
    text-align: center;
    color: black;
    font-size: 32px;
    padding: 10px;
}

h2 {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 4px 0px;
}

.datos-cliente {
    font-size: 12px;
    padding: 10px 0px 10px;
}

.table-descripcion table {
    width: 100%;
}

.table-descripcion th {
    font-size: 12px;
    color: white;
    background-color: black;
}

.table-descripcion table,
.table-descripcion td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-descripcion td {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px 0px;
    font-size: 12px;
    height: 30px;
}

#tr-terminos th {
    font-size: 12px;
    padding: 6px;
}

#tr-terminos td, #tr-terminos-blanco td {
    text-align: right;
    font-size: 12px;
}

#tr-terminos-blanco th {
    background-color: white;
    text-align: left;
    color: black;
    padding-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
}

.container-firma h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 25px 0 100px;
}

.container-firma p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 100px;
}